###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://mir2.ovh.net/ftp.apache.org/dist/apr/apr-1.4.5.tar.bz2
md5sum =8b53f5a5669d0597f2da889a2f576eb6
configure-options-cygwin =  --disable-static ac_cv_header_windows_h=no ac_cv_header_winsock2_h=no
cygwin-patches=${buildout:directory}/cygwin_libtool.patch
               ${buildout:directory}/cygwin_test.patch

patch-options=-Np1
#pre-configure-hook=${buildout:directory}/h.py:h
